$themes: (
  light: (
    bg: #FFFFFF,
    accent: #F3F7F8,
    primary: #1005FF,
    secondary: #666666,
  ),
  dark: (
    bg: #121212,
    accent: #202020,
    primary: #1005FF,
    secondary: #666666,
  ),
);
